.main{
    height: 100vh;
    background: url("/src/assets/images/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.title-sub{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(30, 47, 64) 1%, transparent);
}
