.footer{
    background-color: rgb(30, 47, 64);
    width: 100%;
    color: white;
    left: 0;
    bottom: 0;

}

.footer-social a{
    transition: 0.2s ease;
}

.footer-social a:hover{
    scale: 1.3;
}